.top{
    width: 100%;
    height: 1014px;
    background-color: #f8faff;
}

.top-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-content .top-content-left{
    width: 50%;
    height: 1014px;
}

.top-content .top-content-left .top-info{
    margin-top: 330px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 2px;
    letter-spacing: 4px;
}

.top-info .top-info-second{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-info .top-info-second span{
    font-family: 'Poppins', sans-serif;
    font-size:  20px;
    font-weight: 100;
    line-height: 30px;
    margin-left: 20px;
    position: relative;
    display: inline-block;
}

.top-info .top-info-second span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: #fd8d14;
    transform: scaleX(0);
    transform-origin: left;  
    animation: underline-animation 6s infinite ease-in-out;
}

@keyframes underline-animation {
    0% {
        transform: scaleX(0);
    }
    20% {
        transform: scaleX(0);
    }
    25% {
        transform: scaleX(0.35);
    }
    100% {
        transform: scaleX(0.35);
    }
}

.top-content .top-content-left .divider{
    width: 80%;
    padding: 15px;
    border: solid rgb(114, 114, 114);
    border-width: 0px 0px 2px 0px;

}

.top-content .find-car{
    margin: 45px 25px 25px 0px;
}

.top-content .find-car .find-button{
    background-color: #fd8d14;
    color: #f8faff;
    padding: 15px;
    font-weight: 200;
    letter-spacing: 2px;
}

.top-content .top-content-right{
    width: 40%;
    height: 1014px;   
}

.top-content .top-content-right .right-content{
    align-items: center;
    align-content: center;
    width: 100%;
    height: 1014px;
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(rgb(241, 194, 123) 0%, rgba(241, 241, 241, 0));
    position: relative;
    z-index: 1;
}

.top-content .top-content-right .right-content img{
    width: 1207px;
    height: 724px;
    position: relative;
    transform: translate(-270px,150px);
}